.container{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  button{
    border: none;
    border-radius: 5px;
    background-color: var(--gray-500);
    color: var(--surface-b);
    padding: 15px;
    text-transform: uppercase;
    cursor: pointer;
    transition: .25s;
    &:hover{
      opacity: .8;
    }
  }
}
