<form [formGroup]="patientFields" >
  <div class="margin-bottom form-group">
    <div class="two-colums">
      <label for="name">
        Nome
        <input formControlName="first_name" type="text" id="name" pInputText>
      </label>
      <label for="last-name">
        Sobrenome
        <input formControlName="last_name" type="text" id="last-name" pInputText>
      </label>
    </div>

    <div class="two-colums">
      <label for="cpf">
        Cpf
        <p-inputMask formControlName="cpf" type="text" id="cpf" mask="999.999.999-99" ></p-inputMask>
      </label>
      <label for="email">
        Email
        <input formControlName="email" type="email" id="email" pInputText >
      </label>
    </div>
    <div class="one-column">
      <div class="two-colums">
        <label >
          Data de Nascimento
          <p-calendar
            [showIcon]="true"
            formControlName="birth_date"
            dateFormat="dd/mm/yy"
            [tabindex]="5"
            appendTo="body"
            [(ngModel)]="selectedDate"></p-calendar>
        </label>
        <label>
          Sexo
          <div class="two-colums" [style]="{'width':'234px','justify-content':'left'}">
            <p-radioButton formControlName="sex"  name="sex" label="Masculino" value="M" [(ngModel)]="selectedSex" ></p-radioButton>
            <p-radioButton formControlName="sex" name="sex" label="Feminino" value="F" [(ngModel)]="selectedSex"></p-radioButton>
          </div>
        </label>
      </div>
    </div>
    <div class="two-colums">
      <label for="weight">
        Peso
        <input id="weight" type="text" formControlName="weight" pInputText onkeypress='return event.charCode >= 48 && event.charCode <= 57'/>
      </label>
      <label for="height">
       Altura
        <p-inputMask id="height" type="text" mask="9.99" formControlName="height" onkeypress='return event.charCode >= 48 && event.charCode <= 57'></p-inputMask>
      </label>
    </div>
    <div class="two-colums">
      <label >
        Telefone
         <p-inputMask minlength="11" formControlName="tel" mask="(99) 99999-9999" ></p-inputMask>
      </label>
      <label >
        Telefone de Emergencia
        <p-inputMask minlength="11" formControlName="emergency_tel" mask="(99) 99999-9999" ></p-inputMask>
      </label>
    </div>
    <label>
      Tipo Sanguineo
      <p-dropdown
        [style]="{'width':'100%'}"
        formControlName="blood_group"
        appendTo="body"
        [options]="bloodType"
        [(ngModel)]="selectedBloodType"
        optionLabel="code"></p-dropdown>
    </label>
  </div>

  <div class="fc-button-group">
    <button pButton type="button" label="resetar" icon="pi pi-refresh" (click)="refreshForm()" class="p-button-rounded p-button-text p-button-secondary"></button>
    <button pButton type="button" label="cancelar" icon="pi pi-times" (click)="close()" class="p-button-rounded p-button-text p-button-danger"></button>
    <button pButton type="button" label="adicionar" icon="pi pi-plus" (click)="addPatient()" [disabled]="!validateForm()" class="p-button-rounded p-button-text"></button>
  </div>
</form>
<p-toast key="tl"></p-toast>
