.form-group{
  display: flex;
  padding: 5px;
  flex-wrap: wrap;
  flex-direction: column;

  .final-input{
    width: 100%;
  }


label{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-bottom: 15px;
  padding:5px;
}

.two-columns{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

input[type=number]::-webkit-inner-spin-button{
  -webkit-appearance: none;
}

input[type=number]{
  -moz-appearance: textfield;
  appearance: textfield;
}

}

.fc-button-group{
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  float:right;
  p-button{
    margin-left: 10px;
  }
}

::ng-deep body p-calendar{
  width: 234px;
}

@media screen and (max-width: 561px){

  .one-column{
    display: flex;
    justify-content: center;
  }
  ::ng-deep{
    .p-dropdown{
      width:234px !important;
    }
  }

  .fc-button-group{
    display: grid !important;
    align-items: center !important;
    width:100% !important;
  }

}
