label{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-bottom: 15px;
  padding:5px;
}

.two-colums{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.tree-columns{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.form-group{
  display: flex;
  padding: 5px;
  flex-wrap: wrap;
  flex-direction: column;

  .final-input{
    width: 100%;
  }

  .one-column{
    width: 100%;
    display: flex;
  }
}

.fc-button-group{
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  p-button{
    margin-left: 10px;
  }
}

::ng-deep body p-calendar{
  width: 234px;
}
