.container{
  padding: 30px;
  width: 100vw;
  .main-color{
    background-color:var(--teal-300) !important;
    border:1px solid var(--teal-100);
  }
  .table-header{
    height:60px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
  }
  .patients-table{
    box-shadow: 0px 0px 12px rgb(0 0 0 / 16%);
    tr{transition:.25s}
    tr:hover{
      background-color: rgba(40, 167, 69, 0.37)
    }

    th,td{
      word-wrap:break-word;
    }

    .emptymessage{
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 15px;
      margin: 0 auto;
      width: 100vw;
      flex-wrap: wrap;
      flex-direction: column;
      em{
        color: var(--blue-300);
        text-decoration: underline;
        cursor: pointer;
        &:hover{
          color: var(--blue-500)
        }
      }
    }

    .action-buttons{
      padding: 5px;
      display: flex;
      flex-wrap: wrap;
      align-content: flex-start;
      flex-direction: column;
    }
  }

  .add-btn{
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .margin-bottom{
    margin-bottom: 5px;
  }

}

::ng-deep {
  .p-datatable-responsive-demo .p-datatable-tbody > tr > td .p-column-title {
      display: none;
  }

  .p-datatable .p-datatable-loading-overlay {
    display: none !important;
  }
}

@media screen and (max-width: 40rem) {
  //.patients-table{
  //  width: 100vw !important;
  //  .margin{
  //    margin-bottom: 0px !important;
  //    margin-left: 10px;
  //  }
  //}

::ng-deep {
      .p-datatable {
          &.p-datatable-responsive-demo {
              .p-datatable-thead > tr > th,
              .p-datatable-tfoot > tr > td {
                  display: none !important;
              }

              .p-datatable-tbody > tr > td {
                  text-align: left;
                  display: block;
                  float: left;
                  clear: left;
                  border: 0 none;

                  .p-column-title {
                      padding: .4rem;
                      min-width: 30%;
                      display: inline-block;
                      margin: -.4em 1em -.4em -.4rem;
                      font-weight: bold;
                  }

                  &:last-child {
                      border-bottom: 1px solid var(--gray-500);
                  }
              }

          }
      }
  }
}

.toTop {
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  padding:30px;
  color: white;
  cursor: pointer;
}
